<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Booking Database</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@latest/css/pico.min.css">
    <style>
    
        h1 {
            color: navy;
        }
        ul {
        list-style-type: none;
        padding: 0;
        font-size: 1.2em;
    }

    li {
        margin-bottom: 10px;
    }
    
    p {
        font-size: 1.5em;
    }
    a {
        margin-right: 20px;
        color:blue
    }
    </style>
</head>
<body>
    <h1>Hotel Booking Information</h1>
    
    <h3 style="font-weight: normal;"></h3>
    <p>Welcome to the Hotel Booking Database site! here you will explore the types of variables in a unique hotel bookings data set.</p>
    
    <h1>Pages</h1>

    <h4>
        <ul>
            <li>
            <a href="{{url_for('about')}}">About the Dataset</a>
        </li>
        <li>
            <a href="{{url_for('data')}}">Sample Data </a>
        </li>
        </ul>
        
    </h4>

</body>
</html>
