<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title Here</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@latest/css/pico.min.css">
    <style>
        h1{
            color: navy;
        }
    h5{
        color: navy;
    }

        ul {
        list-style-type: none;
        padding: 0;
        font-size: 1.2em;
    }

    li {
        margin-bottom: 10px;
    }
    
    p {
        font-size: 1.5em;
    }
    a {
        margin-right: 20px;
        color:blue
    }
    th{
        color: navy;
    }
    </style>
</head>
<body>
    <nav>
        <a href="{{url_for('about')}}">Back to About <--</a>
        <a href="{{url_for('index')}}">Back to Home<--<--</a>
    </nav>
    <h1>Hotel Data Table</h1>
    <h5>Displayed is the organized table of the hotel data set</h5>
    <table>
        <thead>
            <tr>
                <th>index</th>
                <th>Hotel</th>
                <th>country</th>
                <th>reservation_status_date</th>
                <th>total_nights_stayed</th>
                <th>adr</th>
                <th>adults</th>
                <th>children</th>
                <th>babies</th>
                <th>required_car_parking_spaces</th>
                <th>total_of_special_requests</th>
            </tr>

        </thead>
        
        <tbody>
             {% for res in result %}
                <tr>
                    <td>{{ res[0] }}</td>
                    <td>{{ res[1] }}</td>
                    <td>{{ res[2] }}</td>
                    <td>{{ res[3] }}</td>
                    <td>{{ res[4] }}</td>
                    <td>{{ res[5] }}</td>
                    <td>{{ res[6] }}</td>
                    <td>{{ res[7] }}</td>
                    <td>{{ res[8] }}</td>
                    <td>{{ res[9] }}</td>
                    <td>{{ res[10] }}</td>
                    <td>{{ res[11] }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

</body>
</html>
